 <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <div class ="title_truong">
                <img src="{{url_for('static', filename='images/logo.png')}}" alt="Logo Trường THPT Nguyễn Diêu">
                <h2>TRƯỜNG THPT NGUYỄN DIÊU</h2>
                </div>
                <div class="infor-lienhe">
                    <i class="fa-solid fa-house distance"></i>
                    <span>Địa chỉ: Phước Sơn, Tuy Phước, Bình Định</span>
                </div>
                <div class ="infor-lienhe">
                    <i class="fa-solid fa-phone distance"></i>
                    <span>Điện thoại: 0563 383 0145 - 0563 383 0089 (Hiệu trưởng)</span>
                </div>
                <div class="infor-lienhe">
                    <i class="fa-solid fa-envelope distance"></i>
                    <span>Email: thptnguyendieu@sgddt.binhdinh.gov.vn</span>
                </div>

            </div>
            <div class="footer-menu">
                <h3>DANH MỤC</h3>
                <ul>
                    <li>
                        <i class="fa-solid fa-gears"></i>
                        <a href="#">Trang chủ</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-gears"></i>
                        <a href="#">Tin tức</a>
                    </li>

                </ul>
            </div>
            <div class="footer-links">
                <h3>LIÊN KẾT NHANH</h3>

                <div class="ggmap">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3873.5532574298027!2d109.18617297480688!3d13.865833894643755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x316f6aad58e1856b%3A0x521db69113c5c00d!2zVHLGsOG7nW5nIFRIUFQgTmd1eeG7hW4gRGnDqnU!5e0!3m2!1svi!2s!4v1730214118730!5m2!1svi!2s" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                 </div>
            </div>
        </div>
    </footer>