{% extends 'layout/base.html' %}

{% block css %}
    {#    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/nhapdiem.css') }}">#}
    <style>

        .container-dshoc-notlop {
            height: 300px;
            width: 70%;
            border: 1px solid;
            border-radius: 10px;
            text-align: center;
            margin: 20px auto;
        }

        .table-scroll-bar-y {
            height: 170px;
            overflow-y: auto;
        }

        .btn-sua {
            background-color: #ade6ad;
            height: 50px;
            width: 200px;
            border-radius: 10px;
        }

        select + i {
            margin: 20px;
        }
    </style>


{% endblock %}


{% block content %}


    {% if dshocsinhnotlop %}
        <div class="container">

            <div class="container-dshoc-notlop">
                <h3 style="margin-top: 20px">DANH SÁCH HỌC SINH CHƯA CÓ LỚP</h3>
                <div class="table-scroll-bar-y">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Họ tên</th>
                            <th>Điểm</th>
                            <th>Giới tính</th>
                            <th>Năm sinh</th>
                            <th>Địa chỉ</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for hs in dshocsinhnotlop %}
                            {% for info in hs %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ info.Ho }} {{ info.Ten }}</td>
                                    <td>{{ info.DiemTbDauVao }}</td>
                                    <td>{{ info.GioiTinh }}</td>
                                    <td>{{ info.NgaySinh.strftime('%Y') }}</td>
                                    <td>{{ info.DiaChi }}</td>
                                    <td>
                                        <input type="checkbox" class="form-check-input"
                                               onchange="CheckAddHocSinh('{{ info.UserID }}' , this)">

                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div style="text-align: right;">
                    <button class="btn btn-sua" onclick="AddHocSinhToLop('{{ lop }}')">Thêm</button>
                </div>
            </div>
        </div>
    {% endif %}


    {% if solop %}
        <div class="container mt-3">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Khối</a></li>
                <select name="dslop" onchange="SelectKhoi(this)">
                    {% for i in dskhoi %}
                        <option value="{{ i.MaKhoi }}" onclick = "LoadLopOfKhoi('{{ i.MaKhoi }}')">{{ i.TenKhoi }}</option>
                    {% endfor %}
                </select>
                <select name="dslop" id="dslop" onclick="updateLabel(this, 'lopLabel')">
                    <option value="">Lớp</option>
                    {% for i in dslopcheckbox %}
                        <option value="{{ i.MaLop }}">{{ i.TenLop }}</option>
                    {% endfor %}
                </select>
            </ul>
        </div>
    {% endif %}


    <div class="container mt-3">
        <h2>Lớp: {{ lop }}</h2>
        <p>Sĩ số: {{ lophocsinh | length }}</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>STT</th>
                <th>Họ tên</th>
                <th>Giới tính</th>
                <th>Năm sinh</th>
                <th>Địa chỉ</th>
                <th>Xóa</th>
            </tr>
            </thead>
            <tbody>
            {% for hocsinh in lophocsinh %}
                {% for info in hocsinh %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ info.Ho }} {{ info.Ten }}</td>
                        <td>{{ info.GioiTinh }}</td>
                        <td>{{ info.NgaySinh.strftime('%Y') }}</td>
                        <td>{{ info.DiaChi }}</td>
                        <td>
                            <button style="background: none; border: none"
                                    onclick="RemoveHS('{{ info.UserID }}', '{{ lop }}')">
                                <i class="fa-solid fa-minus"></i>
                            </button>
                        </td>


                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>




    <script src="{{ url_for('static', filename='js/saveinfordshocsinh.js') }}"></script>
{% endblock %}
