{% extends 'layout/base.html' %}

{% block css %}
    <style>

        .btn-sua {
            background-color: #ade6ad;
            height: 50px;
            width: 200px;
            border-radius: 10px;
        }

        .btn_timkiem {
            width: 350px;
            height: 50px;
            border: 1px solid;
            border-radius: 10px;
        }

        .stt,
        .hoten,
        .gioitinh,
        .diachi,
        .namsinh {
            width: 20%;
        }
    </style>

{% endblock %}

{% block content %}

    {% if solop %}
        <div class="container mt-3">
            <ul class="pagination" style="justify-content: space-between;">
                <div style="display: flex">
                    <li class="page-item"><a class="page-link" href="#">Lớp</a></li>
                    {% for i in range(1, solop + 1 ) %}
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for('lapdanhsachlop',page = i) }}">{{ i }}</a></li>
                    {% endfor %}
                </div>
                <form action="{{ url_for('timkkiemhocsinhonekhoi') }}" method="post">
                    <input type="text" class="btn_timkiem" name="textinput"
                           value="{{ textinput }}"
                           placeholder="Huỳnh A, huynhngoctruong@gmail.com, sdt, ...">
                    <button class="btn btn-sua" onclick="TimKiemHocSinhNew()">
                        Tìm kiếm
                    </button>

                </form>

                <div>
                    <button class="btn btn-sua"><a href="{{ url_for('dieuchinhdanhsachlop') }}"
                                                   style="text-decoration: none; color: black">Sửa</a></button>
                </div>
            </ul>

        </div>
    {% endif %}




    <div class="container mt-3">
        {% if key %}
        {% else %}
            <h2>Lớp: {{ lop }}</h2>
            <p>Sĩ số: {{ lophocsinh | length }}</p>
        {% endif %}
        <div>
            <table class="table table-striped" style="width: 100%; border-collapse: collapse; margin-bottom: 0">
                <thead>
                <tr>
                    <th class="stt">STT</th>
                    <th class="hoten">Họ tên</th>
                    <th class="gioitinh">Giới tính</th>
                    <th class="namsinh">Năm sinh</th>
                    <th class="diachi">
                        {% if key %}
                            Lớp
                        {% else %}
                            Địa chỉ
                        {% endif %}
                    </th>
                </tr>
                </thead>
            </table>
            <div style="height: 450px; overflow-y: auto; margin-bottom: 50px">
                <table class="table table-striped custom-table">
                    <tbody>
                    {% for hocsinh in lophocsinh %}
                        <tr>
                            <td class="stt">{{ loop.index }}</td>
                            {% for info in hocsinh %}

                                <td class="hoten">{{ info.Ho }} {{ info.Ten }}</td>
                                <td class="gioitinh">{{ info.GioiTinh }}</td>
                                <td class="namsinh">{{ info.NgaySinh.strftime('%Y') }}</td>
                                {% if key %}
                                    <td class="diachi">{{ info.MaLop[1:].split('_')[0] }}</td>
                                {% else %}
                                    <td class="diachi">{{ info.DiaChi }}</td>
                                {% endif %}

                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename = 'js/lapdanhsachlop.js') }}"></script>



{% endblock %}
