{% extends 'layout/base.html' %}


{% block title %} Nhập điểm {% endblock %}


{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/nhapdiem.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .stt {
            width: 4%;
        }

        .hoten {
            width: 15%;
        }

        .cot15phut,
        .cot1tiet {
            width: 8%;
        }

        .diemthi,
        .lop {
            width: 10%;
        }

        table + div {
            margin: 0;
        }

        .customer_width_header {
            width: 50%;
        }
    </style>
{% endblock %}
{% block content %}



    <div class="container mt-3">

        {% if error %}
            <div class="container col-5 mt-3">
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong id="error">{{ error }}</strong>
                </div>
            </div>
        {% endif %}
        <div class="container col-5 mt-3">
            <div class="alert alert-danger alert-dismissible" style="display: none">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong id="error"></strong>
            </div>
        </div>
        <div style="display: flex">
            <h3 style="flex: 1">BẢNG ĐIỂM MÔN HỌC</h3>

            <button class="btn-save-infor-hocsinh" id="btnLuuTam" onclick="saveTableData('tam')">
                Lưu tạm
            </button>
            <button class="btn-save-infor-hocsinh" id="btnLuu" onclick="saveTableData('luu')">
                Lưu
            </button>
        </div>

        <form action="{{ url_for('nhapdiemlop') }}" method="POST" class="form-container">

            <div class="form-row">
                <label for="lopLabel">Tìm kiếm học sinh: </label>
                <div>

                    <input type="text" id="searchhocsinh" name="searchhocsinh" autocomplete="off"
                           placeholder="La Trinh, huynhngoctruong@gmail.com, 0369185111...."
                           onchange="CancelluuAndLuuTam()"
                           value={{ searchhocsinh }}>

                    <select name="keytimkiem" id="">


                        <option value="0" {% if keytimkiem == '0' %}selected{% endif %}>Trong lớp</option>
                        <option value="1" {% if keytimkiem == '1' %}selected{% endif %}>Tất cả lớp trong khối
                        </option>


                    </select>

                </div>

                 <label for="monhocLabel">Học kì: </label>
                <select name="hocki" id="hocki" onclick = "LoadALlLopEdHocInHocKiEd(this , 'nhap')">
                    <option selected disabled value = '0'>Chọn học kỳ</option>
                    {% for HK in danh_sach_hoc_ki %}
                        {% if HK.MaHocKi == mahocki %}
                            <option selected value="{{ HK.MaHocKi }}">Học kỳ {{ HK.TenHocKi }}
                                - {{ HK.NamHoc }}</option>
                        {% else %}
                            <option value="{{ HK.MaHocKi }}">Học kỳ {{ HK.TenHocKi }} - {{ HK.NamHoc }}</option>
                        {% endif %}

                    {% endfor %}
                </select>
                 <label for="dskhoi">Khối: </label>
                <select name="dskhoi" id="dskhoi" onclick="LoadAlLLopOfKhoi(this, 'nhap')">
                    <option value="0">Khối</option>
                    {% for i in dskhoi %}
                        {% if i.MaKhoi == makhoi %}
                            <option selected value="{{ i.MaKhoi }}">{{ i.TenKhoi }}</option>
                        {% else %}
                            <option value="{{ i.MaKhoi }}">{{ i.TenKhoi }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
             <label for="lopLabel">Lớp: </label>
                <select name="dslop" id="dslop" onclick="updateMonHocOfLop(this)">
                    <option value="">Lớp</option>

                    {% for i in dslopcheckbox %}
                        {% if i.MaLop == malop %}
                            <option selected value="{{ i.MaLop }}">{{ i.MaLop[1:].split('_')[0] }}</option>

                        {% else %}
                            <option value="{{ i.MaLop }}">{{ i.MaLop[1:].split('_')[0] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                <label for="monhocLabel">Môn học: </label>

                <select name="dsmonhoc" id="dsmonhoc">
                    <option value="">Môn học</option>

                    {% for i in dsmomhoc %}
                        {% if i.TenMonHoc == tenmonhoc %}
                            <option selected value="{{ i.MaMonHoc }}">{{ i.TenMonHoc }}</option>

                        {% else %}
                            <option value="{{ i.MaMonHoc }}">{{ i.TenMonHoc }}</option>
                        {% endif %}
                    {% endfor %}

                </select>



            </div>

            <button type="submit" class="btn-save-infor-hocsinh" style="margin-bottom: 15px ">Tìm kiếm</button>

        </form>

        <p id="socot15phut" style="display:none"> {{ session.get('socot15phut') }}</p>
        <p id="socot1tiet" style="display: none"> {{ session.get('socot1tiet') }}</p>

        <div>
            <table class="table table-striped custom-table" id="scoreTable"
                   style="border-collapse: collapse; margin-bottom: 0">
                <thead>
                <tr>
                    {% if malop %}
                        <th class="customer_width_header">Lớp: {{ malop[1:].split('_')[0] }}</th>
                    {% endif %}
                    {% if tenmonhoc %}
                        <th class="customer_width_header">Môn học: {{ tenmonhoc }}</th>
                    {% endif %}
                </tr>
                </thead>
            </table>
            <table class="table table-striped custom-table" id="scoreTable"
                   style="border-collapse: collapse; margin-bottom: 0">
                <thead>
                <tr>
                    {% if mahocki %}
                        <th class="customer_width_header">Học kì: {{ mahocki.replace('_', ' Năm học: ') }}</th>
                    {% endif %}
                    {% if giaovien %}
                        <th class="customer_width_header">Giáo viên: {{ giaovien.Ho }} {{ giaovien.Ten }}</th>
                    {% endif %}

                </tr>
                </thead>
            </table>
            <table class="table table-striped custom-table" id="scoreTable"
                   style="border-collapse: collapse; margin-bottom: 0">
                <thead>
                <tr>
                    <th rowspan="2" class="stt">STT</th>
                    <th rowspan="2" class="hoten">Họ tên</th>

                    <th colspan="{{ session.get('socot15phut') }}" class="cot15phut" id="score15Header">
                        Điểm 15 phút
                        <button onclick="Column15phut('them')">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                        <button onclick="Column15phut('xoa')">
                            <i class="fa-solid fa-minus"></i>
                        </button>
                    </th>

                    <th colspan="{{ session.get('socot1tiet') }}" class="cot1tiet" id="score1Header">
                        Điểm 1 tiết
                        <button onclick="Column1tiet('them')">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                        <button onclick="Column1tiet('xoa')">
                            <i class="fa-solid fa-minus"></i>
                        </button>
                    </th>

                    <th rowspan="2" class="diemthi">Điểm thi</th>
                    {% if keytimkiem %}
                        <th rowspan="2" class="lop">Lớp</th>
                    {% endif %}
                </tr>
                <tr id="subHeader">
                    {% for i in range(1, session.get('socot15phut') + 1) %}
                        <th class="score15 cot15phut">{{ i }}</th>
                    {% endfor %}

                    {% for i in range(1, session.get('socot1tiet') + 1) %}
                        <th class="score1 cot1tiet">{{ i }}</th>
                    {% endfor %}
                </tr>
                </thead>
            </table>

            <div style="height: 450px; overflow-y: auto; margin-bottom: 50px">
                <table id="scoreTable" class="table table-striped custom-table"
                       style=" border-collapse: collapse; margin-bottom: 0;">
                    <tbody>
                    {% for hs in dshocsinh %}
                        <tr id={{ hs['MaHocSinh'] }}>
                            <td class="stt">{{ loop.index }}</td>
                            <td class="hoten">{{ hs['HoTen'] }}</td>

                            {% for i in range(0, session.get('socot15phut')) %}
                                {% if hs.get('15phut')[i] %}
                                    <td class="cot15phut"><input type="text" value="{{ hs.get('15phut')[i] }}"></td>
                                {% else %}
                                    <td class="cot15phut"><input type="text"></td>
                                {% endif %}
                            {% endfor %}

                            {% for i in range(0, session.get('socot1tiet')) %}
                                {% if hs.get('1tiet')[i] %}
                                    <td class="cot1tiet"><input type="text" value="{{ hs.get('1tiet')[i] }}"></td>
                                {% else %}
                                    <td class="cot1tiet"><input type="text"></td>
                                {% endif %}
                            {% endfor %}

                            {% if hs.get("diemthi") %}
                                <td class="diemthi"><input type="text" value="{{ hs.get('diemthi')[0] }}"></td>
                            {% else %}
                                <td class="score15 diemthi"><input type="text"></td>
                            {% endif %}


                            {% if keytimkiem %}
                                <td class="lop">{{ hs['MaLop'][1:].split('_')[0] }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <script src={{ url_for('static', filename = 'js/nhapdiem.js') }}></script>
        <script>
            window.onload = function () {
                CancelluuAndLuuTam()
            }


        </script>

    </div>

{% endblock %}