{% extends "layout/base.html" %}

{% block title %}Tiếp nhận học sinh{% endblock %}

{% block css %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/w3.css') }}">
    </head>
    <style>
        .w3-container p {
            margin-top: 10px
        }

        .w3-container p input {
            width: 83%;
            height: 35px;
            background-size: 16px 12px;
            border: 1px solid #ced4da;
            border-radius: .25rem;
        }

        .w3-infor p {
            margin-top: 30px;
        }

        .form-select-permission {
            width: 83%;
            padding: .375rem 2.25rem .375rem .75rem;
            -moz-padding-start: calc(0.75rem - 3px);
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right .75rem center;
            background-size: 16px 12px;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

        .btn_danhsachhs {
            display: flex;
            justify-content: right;
            margin-right: 10%;
        }

        .btn_danhsachhs div {
            margin: 0 20px;
        }

        .table > :not(caption) > * > * {
            box-shadow: none;
        }

    </style>
{% endblock %}

{% block role %}
    {% for role in roles %}
        {% for key in role.keys() %}
            <li class="nav-item">
                <a href="{{ url_for(role[key]) }}" class="nav-link active text-dark">{{ key }}</a>
            </li>
        {% endfor %}
    {% endfor %}
{% endblock %}


{% block content %}
    {% if mess %}
        <div class="container col-5 mt-3">
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>{{ mess }}</strong>
            </div>
        </div>
    {% endif %}

    <div class="container col-5 mt-3">
        <div class="alert alert-danger alert-dismissible" style="display: none">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong id="error"></strong>
        </div>
    </div>

    <form action="{{ url_for('SaveInforHocSinh') }}" method="post" enctype="multipart/form-data">
        <div class="w3-content w3-margin-top" style="max-width:80%; margin: 10%">
            <div class="w3-row-padding">

                <div class="w3-third">
                    <div class="w3-white w3-text-grey w3-card-4" style="border-radius: 10px; height: 546px;">
                        <div class="w3-display-container">
                            <img src="{{ url_for('static', filename='images/avatarhocsinh.png') }}"
                                 style="width:100%; border-radius: 10px;" alt="Avatar">
                            <input type="file" name="avatar" class="form-control" id="file" accept="image/*">
                        </div>
                        <div class="w3-container w3-infor">
                            <p>
                                <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>
                                <input type="text" name="diachi" placeholder="  Địa chỉ.." value= {{ diachi }}>
                            </p>
                            <p>
                                <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>
                                <input type="Email" name="email" placeholder="  Email.." value= {{ email }}>
                            </p>

                            <p>

                                <i class="fa-solid fa-hand-point-right"></i>
                                <input type="text" name="diemTbDauVao" placeholder="  Điểm đầu vào"
                                       value= {{ diemTbDauVao }}>

                            </p>
                        </div>
                    </div>

                </div>

                <div class="w3-twothird">

                    <div class="w3-container w3-card w3-white w3-margin-bottom" style="border-radius: 10px;">
                        <h2 class="w3-text-grey w3-padding-16">
                            <i class="fa-solid fa-user"></i><span>Thông tin học sinh</span></h2>
                        <div class="container" id="infor_user">
                            <div class="w3-container">
                                <p>
                                    <i class="fa-solid fa-person"></i>
                                    <input type="text" name="firstname" placeholder="  Frist Name ..."
                                           value= {{ firstname }}>
                                </p>
                            </div>
                            <div class="w3-container">
                                <p>
                                    <i class="fa-solid fa-person"></i>
                                    <input type="text" name="lastname" placeholder="  Last Name ..."
                                           value= {{ lastname }}>
                                </p>
                            </div>
                            <div class="w3-container">
                                <p>
                                    <i class="fa-solid fa-cake-candles"></i>
                                    <input type="date" name="ngaysinh" value= {{ ngaysinh }}>
                                </p>
                            </div>
                            <div class="w3-container">
                                <p>
                                    <i class="fa-solid fa-person"></i>
                                    <select class="form-select-permission" name="gioitinh">
                                        <option selected>Nam</option>
                                        <option>Nữ</option>
                                        <option>Khác</option>
                                    </select>
                                </p>
                            </div>
                            <div class="w3-container">

                                <p class="p_phone">
                                    <i class="fa-solid fa-mobile-screen-button"></i>
                                    <input type="text" name="sdt" placeholder="  Số điện thoại..">
                                    <i class="fa-solid fa-plus add_phone" onclick="Add_phone_User(this)"> </i>
                                </p>

                            </div>
                        </div>
                        <div style="text-align: right">
                            <button class="btn-save-infor-hocsinh" type="submit" style="margin: 40px 15% 45px;">Lưu
                            </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </form>

    <div class="btn_danhsachhs">
        <div>
            <button class="btn-save-infor-hocsinh" data-bs-toggle="modal" data-bs-target="#modal_upload_file"><i
                    class="fa-solid fa-arrow-right"></i> Tải file
            </button>
        </div>
        <div>
            <button class="btn-save-infor-hocsinh" onclick="SaveInforDshocsinh()"> Lưu
            </button>
        </div>
    </div>

    <div class="modal" id="modal_upload_file">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Chọn file danh sách học sinh</h4>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('uploaddanhsachhocsinh') }}" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="file" class="form-label">Chọn tệp Excel:</label>
                            <input type="file" name="file" class="form-control" id="file" accept=".xlsx,.xls">
                        </div>
                        <div style="text-align: right;margin: 0 20px 15px;">
                            <button type="submit" class="btn btn-primary">Tải lên</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if total_page %}
        <div class="container mt-3">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Trang</a></li>
                {% for i in range(1, total_page + 1) %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('dividelistdshocsinh', page=i) }}">
                            {{ i }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    <div class="container mt-3" id="div_danhsachhocsinh">
        <h2>Danh sách học sinh</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>STT</th>
                <th>Họ</th>
                <th>Tên</th>
                <th>Điểm</th>
                <th>Giới tính</th>
                <th>Năm sinh</th>
                <th>Địa chỉ</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Xóa</th>

            </tr>
            </thead>
            <tbody>
            {% for row in data %}
                <tr id="hs{{ row['STT'] }}">
                    <td>{{ row['STT'] }}</td>
                    <td>{{ row['Họ'] }}</td>
                    <td>{{ row['Tên'] }}</td>
                    <td>{{ row['Điểm'] | round(1) }}</td>
                    <td>{{ row['Giới tính'] }}</td>

                    <td class="ngaysinh">{{ row['Ngày sinh'].strftime('%Y') }}</td>
                    <td>{{ row['Địa chỉ'] }}</td>
                    <td>{{ row['Email'] }}</td>
                    <td>
                        <div class="form-group">
                            <input type="text" value="{{ row['Số điện thoại'] }}" class="form-control"
                                   onblur="UpdateSdt( {{ row['STT'] }}, this)">
                        </div>
                    </td>
                    <td>
                        <div>
                            <button type="submit" style="background: none; border: none" id="btn_remove_hocsinh"
                                    onclick="RemoveHocSinh({{ row['STT'] }})"><i
                                    class="fa-solid fa-minus"></i></button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>



    <script src="{{ url_for('static', filename='js/add_phone.js') }}"></script>
    <script src="{{ url_for('static', filename='js/saveinfordshocsinh.js') }}"></script>
    <script>


    </script>

{% endblock %}
