{% extends 'admin/model/list.html' %}


{% block body %}
    {% if error_mess %}
        <div class="container col-5 mt-3">
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>{{ error_mess }}</strong>
            </div>
        </div>
    {% endif %}


    <div>
        {% if session.get('PermissionUser') or session.get('activeaccount') %}
            <h1>YÊU CẦU CỦA NGƯỜI DÙNG</h1>
            {% for i in session['activeaccount'] %}
                <div>
                    <h4>Kích hoạt tài khoản: {{ i }}</h4>
                    <button class="btn btn-success"
                            onclick="ActiveAccount('{{ i }}')">Kích hoạt
                    </button>
                </div>
            {% endfor %}
            {% for i in session['PermissionUser'] %}

                {% for key in i.keys() %}
                    <div>
                        <h4>Tên người dùng: <p class="userid" style="display: inline;"> {{ i[key] }}</p></h4>
                        <h4>Yêu cầu: <p class="permissionid" style="display: inline;"> {{ key }} </p></h4>
                        <button class="btn btn-success approvepermission"
                                onclick="DuyetPermissionUser('{{ key }}', '{{ i[key] }}')">Duyệt
                        </button>
                    </div>
                {% endfor %}

            {% endfor %}

        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/approvepermission.js') }}"></script>
    {{ super() }}
{% endblock %}


