    @media screen and (max-width: 500px) {
    .footer-container {
        display: block;

    }
    footer {
        height: 700px;
    }
    .footer-menu h3,
    .footer-links h3 {
        margin-bottom: 10px;
    }
    .footer-logo .infor-lienhe {
        margin:10px 0 10px 0;
    }


}